.DS_Store
.Rproj.user
.Rdata
.Rhistory
.httr-oauth
_bookdown_files
_book
examples_book
docs/preview
*.log
wamwiki-old
brms-wam-master
*.Rproj
wam_tuto_cache/
fort.19
*_cache/
*_files/
*_freeze
/.quarto/
#!docs/*_files/
/docs/
/.luarc.json
